<%- include("partials/header.ejs") %>
<main>
    <section class="hero">
        <img class="quote" src="images/quote-icon.png">
        <h1 class="hero-title">Share Your Voice</h1>
        <form action="/post" method="POST">
            <label class="title-label" for="blog-title">Blog Title:</label>
            <input class="title-input" type="text" name="blog-title" required>
            <label class="content-label" for="blog-content">Blog Content:</label>
            <textarea class="content-input" name="blog-content" required></textarea>
            <input class="post-btn" type="submit" value="Post">
        </form>
    </section>

    <section class="view-posts" >
        <ul class="post-list">
            <% if(locals.listOfPosts.length > 0){ %>
               <% for (let i = listOfPosts.length - 1; i >=0; i--) { %> 
                <li class="post">
                   <h1><%= listOfPosts[i].title %></h1>
                   <p><%= listOfPosts[i].content%></p>
                   <div>
                     <a class="edit-btn" href="/edit-post/<%= listOfPosts[i]._id%>">Edit</a>
                     <a class="delete-btn" href="/delete-post/<%= listOfPosts[i]._id%>">Delete</a>
                   </div>
                  
                </li>    
                    
                <% }; %>
            <%} else {%>
                <p class="no-posts">No Posts Yet</p> 
                
            <% }%>
        </ul>
    </section>
</main>


<%- include("partials/footer.ejs") %>
